body {
    font-family: 'MedievalSharp', cursive;
    background-image: url("../img/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_logo {
    display: flex;
    margin: 25px;
}

.header_logo img {
    height: 250px;
    margin-left: 250px;
    margin-top: 70px
}

.menu {
    display: flex;
    align-items: center;
    margin-left: 40%;
}

.menu li {
    list-style: none;
    padding: 25px;
}

.menu li a {
    font-size: 25px;
    color: black;
    text-decoration: none;
}

.menu li a:hover {
    font-size: 35px;
}

/*-----------------------------------fim css cabecalho-------------------------*/
.art_header{
    display: flex;
    justify-content: center;
}
.art_header h1{
    font-size: 35px;
}

form{
    width: 90%;
    border: 1px solid black;
    border-radius: 5px;
}
.form-login {
    display: flex;
    width: 100%;
    align-items: baseline;
}

.info_text {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info_select {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info_text label {
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 100%;
}

.info_text input {
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 50%;
    border-radius: 5px;
}

.info_select select {
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 50%;
    border-radius: 5px;
}

.info_select label {
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 100%;
}


