body {
  font-family: 'MedievalSharp', cursive;
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-image: url("../img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

nav li {
  list-style: none;
  margin-top: 25px;
}

nav li a {
  color: black;
  text-decoration: none;
  padding: 40px;
  font-size: 25px;
  font-weight: 300;
}


main {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.logo .logo-img {
  margin-top: 80px;
  margin-left: 50px;
  width: 50%;
}

.logo .logo-img img {
  height: 450px;
  text-align: center;
  padding-left: 45px;
}

.logo .logo-span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin: 10px;
  width: 50%;
  text-align: center;
  font-size: 45px;
  min-height: 500px;
  margin-right: 60px;
}


footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 15px;
  height: 25px;
}

@media only screen and (max-width: 600px) {


  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 600px;
  }

  .logo .logo-img {
    margin: 0;
    padding: 0;
  }

  .logo .logo-img img {
    margin-top: 60px;
    height: 250px;
    text-align: center;
    padding: 0;
    }

    .logo .logo-span{
      margin-top: 25px;
    }


  footer {
    position: relative;
    width: 100%;
    bottom: 0;

  }
}